.btn {
  margin-top: 144px;
  position: relative;
  display: flex;
  justify-content: center;
}
.btn button {
  position: relative;
  border: none;
  cursor: pointer;
  width: 306px;
  height: 74px;
  border-radius: 8px;
  background-color: var(--black-background-color);
  color: white;
  font: 28px/1.5 var(--font-satoshi-bold);
}
.btn button:hover {
  opacity: 0.8;
}
.btn__kanye {
  position: absolute;
  top: -157px;
  left: 330px;
}