.nav {
  margin-left: 64px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.nav__link {
  display: flex;
  align-items: center;
  font: 18px/1.5 var(--font-satoshi-regular);
  color: var(--text-color);
  text-decoration: none;
}
.nav__link_active {
  border-bottom: 3px solid var(--black-background-color);
}
.nav__link:active {
  color: var(--text-color);
}
.nav__link:hover {
  opacity: 0.8;
}