.footer {
  padding: 36px 0;
  border-top: 3px solid #e9e9e9;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: var(--text-color);
}

.stack {
  font: 16px/1.5 var(--font-satoshi-regular);
  color: var(--text-color);
}

.ref {
  margin-top: 12px;
  font: 16px/1.5 var(--font-satoshi-regular);
  color: rgba(38, 38, 38, 0.66);
}
.ref a {
  color: rgba(38, 38, 38, 0.66);
}

.github {
  margin-top: 12px;
  font: 16px/1.5 var(--font-satoshi-regular);
}